<h1>Word Central</h1>

<h2>Select option for ipsum</h2>
<form action="/text_inspections" method="post">
  <input type="number" name="number" placeholder="number"><br>
  <label for="male">Words</label>
  <input type="radio" name="words" id="words" value="words"><br>
  <label for="female">Paragraphs</label>
  <input type="radio" name="paragraphs" id="paragraphs" value="paragraphs"><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button type="submit">Submit text</button>
</form>