<h1>Word Central</h1>

<h2>Submit text for ASCIIS</h2>

<form action="/asciis" method="post">
  <div>
    <label for="text_for_asciis">Text</label>
    <textarea name="text_for_asciis[user_text]" id="text_for_asciis_user_text"></textarea>
  </div>
  
  <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <button type="submit">Submit text</button>

</form>