<h3>Here are your results:</h3>

<p>Your text: </p>
<p>"<%= @text %>" </p>
<p>has <%= @word_count %> word/s, and you should need <%= @reading_time %> seconds to read it</p>

<p>The most common words are: <%= @list_freq %></p>

<a href="http://localhost:3000/">Back Home!</a>
