<h1>Word Central</h1>

<p>Your destination for text utilities.</p>

<a href="http://localhost:3000/text_inspections/new">Text inspector!</a>

<a href="http://localhost:3000/asciis/new">Asciis!</a>

<a href="http://localhost:3000/ipsum/new">Ipsum!</a>